* {
    margin: 0;
    padding: 0;
}

.app {
    background-image: url("../images/background.png");
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
